


.*
/*
!/.gitignore



!/collection
!/galaxy.yml

!/.github
!/.ansible-lint
!/.yamllint
!/LICENSE
!/Makefile
!/makefile.py
!/README.md
!/require
/require/*
!/require/develop.txt
!/require/install.txt
!/require/package.txt
!/setup.cfg



__pycache__
*.pyc
